# Application
NODE_ENV=
PORT=3000
CORS_ORIGIN=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_password_here
DB_DATABASE=motionlab
DB_SYNCHRONIZE=true
DB_LOGGING=true

# JWT
JWT_SECRET=change-this-secret-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d